footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 50, 54);
    color: white;
    text-align: center;
}

.container-fluid {
    padding: 30px;
    background-color: rgb(74, 73, 73);
}
.card {
    margin: 50px;
}
 p {
   color: rgb(235, 148, 148);
   font-family: 'Caveat';
 }
 .content-wrap{
     max-width: 800px;
     width: 85%;
     margin: 0 auto;
     padding:  60px 0;
 }
